.admin-clases-index {
    background-color: $bgMain;
    flex: 1;
    color: white;

    .admin-clases-index-head {
        display: flex;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-around;

        a {
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            padding: .5rem;
            background-color: darken($bgMain, 10);
        }

    }

    .admin-clases-index-body {
        width: 90%;
        margin: 0 auto;

        .admin-clases-index-body-clases {
            display: flex;
            flex-direction: column;

            .clases {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

            }
        }
    }

    .clase {
        width: 95%;
        border: 1px solid rgba(255, 255, 255, 0.441);
        border-radius: 5px;
        margin: 3rem auto;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 40rem;

        .clase-horario {
            display: flex;
            justify-content: space-around;
            p {
                font-size: 1.6rem;
                white-space: pre-line;

                span {
                    color: #8eff8e;
                }
            }

        }

        .clase-info {
            width: 90%;
            margin: 0 auto;
            flex: 1;
            display: flex;
            flex-direction: column;

        }

        .clase-info-head {
            width: 90%;
            margin: 4.5rem auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: .5rem;

            > img {
                left: 1rem;
                position: absolute;
                top: 0.5rem;
                width: 42px;
                opacity: .5;
            }

            h2 {
                margin: 0 auto;
                font-size: 1.7rem;
            }
            
            a {
                border-radius: 13px;
                border: 1px solid #ffffff73;
                position: absolute;
                right: 1rem;
                top: 0.5rem;

                img {
                    width: 32px;
                }
            }
        }

        .clase-info-icon {
            position: absolute;
            width: 48px;
            left: 1rem;
            top: .5rem;
        }
        
        .clase-precio {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(255, 255, 255, 0.337);
            border-radius: 5px;
            
            p {
                font-size: 1.6rem;
                margin: 1rem auto;
                width: 90%;
                display: flex;
                justify-content: space-between;
            }
        }

        .clase-info-desc {
            border: 1px solid rgba(255, 255, 255, 0.493);
            border-radius: 5px;
            padding: 1rem;
            white-space: pre-line;
            flex: 1;
            text-align: center;
        }

        .clase-imagenes {
            display: flex;
            justify-content: space-around;


            .clase-imagen {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid rgba(213, 213, 213, 0.297);
                padding: 1rem;

                img {
                    border: 1px solid hsl(313.48deg 100% 54.05% / 36%);
                    border-radius: 2.5px;
                    height: 100%;
                    object-fit: cover;
                    max-width: 55rem;
                }
            }
        }
    }


    @media screen and (min-width: 600px) {
        
        .clase {
            width: 75%;
        }

        .clase-imagenes {
            flex-direction: row !important;
        }
    }
    
    @media screen and (min-width: 900px) {
        
        .clase {
            width: 60%;
        }
    }
}