.main-clases {
    flex: 1;
    background-color: $bgMain;
    color: white;
}

.main-clases-head {
    
    h1 {
        text-shadow: -1px 2px rgba(138, 138, 138, 0.288);
        text-align: center;
    }
}

.main-clases-body {

    width: 90%;
    margin: 0 auto;

    h2, h3 {
        display: inline;
        padding-bottom: .5rem;
        border-bottom: 1px solid grey;
        font-size: 1.8rem;
    }

    p, ul {
        font-size: 1.5rem;
    }

    .clases {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: center;
    }

    .clase {
        position: relative;
        border-radius: 5px;
        padding: 1rem;
        margin: 3rem 0;
        border: 1px solid white;
        max-width: 40rem;
        display: flex;
        flex-direction: column;


        .clase-info {
            text-align: center;
            flex: 1;
            display: flex;
            position: relative;
            flex-direction: column;

            > img {
                left: 1rem;
                position: absolute;
                top: 0.5rem;
                width: 42px;
                opacity: .5;
            }

            p {
                color: rgb(255, 170, 247);

                span {
                    color: white;
                    white-space: pre-line;
                }
            }

            p:nth-child(1) {
                display: flex;
                justify-content: center;
                gap: 3rem;
            }

            p:nth-child(2) span {
                display: block;
            }

            .clase-info-horario {
                display: flex;
                justify-content: center;
                p {
                    margin: 0 3rem;
                    display: flex;
                    gap: 1rem;
                    justify-content: flex-end;
                }

                p span {
                    white-space: pre-line;
                }
            }

            .clase-info-desc {
                flex: 1;
            }

            .clase-info-precio {
                position: absolute;
                right: 2rem;
                top: .5rem;
                border-bottom: 1px solid rgba(255, 170, 247, 0.522);
                margin: 0;
            }

            .clase-info-precio-disc {
                color: lighten(rgb(255, 170, 247), 10);
            }
        }

        .clase-imagenes {

            display: flex;
            gap: .5rem;

            p {
                text-align: center;
                color: rgb(255, 170, 247);
            }

            .clase-imagen {
                flex: 1;
            }
            .clase-imagen img {
                height: 25rem;
                object-fit: cover;
                border-radius: 5px;
                border: 1px solid rgba(255, 170, 247, 0.295);
            }
        }
    }
}

.main-clases-body-quest {
    margin: 5rem 0;

    a {
        color: white;
        border-bottom: 1px solid rgb(77, 77, 77);
    }
}

@media screen and (min-width: 800px) {
    
    .main-clases-body {

        h2 {
            font-size: 2.2rem;
        }

        h3 {
            font-size: 1.8rem;
        }

        p, ul {
            font-size: 1.9rem;
        }
    }
}