.main-index {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.main-index-img {
    width: 100vw;
    border: 1px solid black;
    object-position: center center;
    object-fit: cover;
}

@media screen and (min-width: 500px) {
    .main-index-img {
        width: 50vw;
    }
}

@media screen and (min-width: 999px) {
    .main-index-img {
        width: 25vw;
    }
}